@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Pastikan container reader memenuhi layar */
#reader {
  width: 100% !important;
  height: 100% !important;
  background-color: black;
}

/* Paksa elemen video di dalamnya untuk memenuhi layar tanpa merusak rasio */
#reader video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important; /* Ini kuncinya agar kamera memenuhi layar */
   transform: none !important; /* Menghilangkan efek cermin jika ada */
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  /* Memastikan tinggi layar konsisten di HP */
  height: -webkit-fill-available; 
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #F8FAFC;
}

/* Fix untuk bug layar memanjang */
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}